<h1 style="color: blue">Listado de Recetas</h1>
<hr />
<% if (@recetas.nil? or @recetas == []) %>
<h2>No Hay recetas</h2>
<% else %>
<table align="center">
  <tr style="background-color: black;color:white">
    <th>Thumbnail</th>
    <th>Titulo</th>
    <th>Ranking Social</th>
  </tr>
  <% @recetas.each do |receta| %>
    <tr class='<%= cycle('even', 'odd') %>'>
      <td><%= link_to image_tag(receta["image_url"], size: "100x100"), receta["source_url"] %></td>
      <td><%= link_to sanitize(receta["title"]), receta["source_url"] %></td>
      <td><%= receta["social_rank"] %></td>
    </tr>
  <% end %>
</table>
<hr />
<h4>Se encontraron <% @recetas.size %> Resultados</h4>
<% end %>

<style type="text/css">
	table {
	    border-collapse: collapse;
	    width: 100%;
	}
	th, td {
	    text-align: left;
	    padding: 8px;
	}
	tr:nth-child(even){background-color: #f2f2f2}
	th {
	    background-color: #4CAF50;
	    color: white;
	}
</style>